<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ABC4D.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DEC454627822B5AC5C78D1DBA1EA207A210D11AA</string>
				<key>dateExpires</key>
				<string>28/09/2020</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DEC454627822B5AC5C78D1DBA1EA207A210D11AA</string>
						<key>dateExpires</key>
						<string>28/09/2020</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CWD37K285M</string>
						<key>name</key>
						<string>Pau Herrero</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>CWD37K285M.com.cbitdiabetes.abc4d</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.healthkit</key>
				<true/>
				<key>com.apple.developer.healthkit.access</key>
				<array/>
				<key>com.apple.developer.team-identifier</key>
				<string>CWD37K285M</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>ABC4D.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d156a32c-b73c-4851-a8a7-bb9babfd5836</string>
				<key>name</key>
				<string>Development</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>CWD37K285M</string>
				<key>name</key>
				<string>Pau Herrero</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
