<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ABC4D.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6F467220FB3CA0A00CBE02E99F9F9B53ACC99FD0</string>
				<key>dateExpires</key>
				<string>28/09/2020</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6F467220FB3CA0A00CBE02E99F9F9B53ACC99FD0</string>
						<key>dateExpires</key>
						<string>28/09/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CWD37K285M</string>
						<key>name</key>
						<string>Pau Herrero</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>CWD37K285M.com.cbitdiabetes.abc4d</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.healthkit</key>
				<true/>
				<key>com.apple.developer.healthkit.access</key>
				<array/>
				<key>com.apple.developer.team-identifier</key>
				<string>CWD37K285M</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>ABC4D.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a88ae6da-18fa-469f-aa4a-0c05e284ebda</string>
				<key>name</key>
				<string>AdHoc Testing</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>CWD37K285M</string>
				<key>name</key>
				<string>Pau Herrero</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
